.dnd-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .server-error-text {
        background: red;
        color: white;
        padding: 10px 30px;
        margin-top: 15px;
    }
    .error-and-content {
        display: flex;
    }
}
