.create-btn {
    background: #0000ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
    align-self: flex-end;
    margin: 30px 30px 0 0;
    &:hover {
        cursor: pointer;
    }
}